.navbar{
  display: block;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 100;
  margin-left: 15px;
  margin-right: 15px;
}

.home-button{
  font-size: 20px;
  font-weight: bold;
}

.navbar-container{
  display:flex;
  height:100%;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  border-bottom: solid 1px gray;
  background-color: black;
}

.navbar-links-container{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.navbar-links-container a{
  padding-right: 25px;
}

.left-section{
  display: flex;
  justify-content: center;
  max-width: 365px;
  width: 100%;
}

.right-section{
  display:flex;
  width: 50%;
  margin-left: 15px;
}