.presentations-outer-container{
    display: flex;
    margin-left: 25px;
    margin-right: 25%;
}

.presentations-list-container li{
    list-style-type: decimal;
    padding-bottom: 15px;
}

.presentation-info{
    margin-bottom: 5px;
}