html{
  background-color: rgb(47, 47, 73);
  width: 100vw;
  height: 100vh;
  color: white;
}

ul{
  margin: 0;
  padding: 0;
}
* li{
  text-decoration: none;
  list-style: none;
  color: white;
  padding: none;
  margin: none;
}

* a{
  text-decoration: none;
  list-style: none;
  color: white;
  padding: none;
  margin: none;
}